<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.mog.app360.sdk.payment.ui" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application android:allowBackup="true" >
        <activity
            android:name="vn.mog.app360.sdk.payment.ui.activities.CardActivity"
            android:theme="@style/Theme.mwork" />
        <activity
            android:name="vn.mog.app360.sdk.payment.ui.activities.BankActivity"
            android:theme="@style/Theme.mwork" />
        <activity
            android:name="vn.mog.app360.sdk.payment.ui.activities.SmsActivity"
            android:theme="@style/Theme.mwork" />
        <activity
            android:name="vn.mog.app360.sdk.payment.ui.activities.BankWebviewActivity"
            android:theme="@style/Theme.mwork" />
        <activity
            android:name="vn.mog.app360.sdk.payment.ui.activities.PaymentFormActivity"
            android:theme="@style/Theme.mwork" />
    </application>

</manifest>
